@import '../../assets/scss-partials/vars';


.cart-menu{
    position: absolute;
    height: 100vh;
    right: 5;
    margin-left: auto;
    width: 30%;
    z-index: 10;
    background-color:white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &_header {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        &_item {
            flex: 5;
            margin-left: 2rem;
        }

        &_size {
            flex: 1;
        }

        &_quantity {
            flex: 1;
            margin-right: .3rem;
        }
    }
}