$light-cream: #fff1e6;
$main-color : #b36a5e;

.category {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    

    &_header{
        flex: 0 0 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        color: $light-cream;
    }

    &_content {
        flex: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        margin-bottom: 3rem;

        &_info-box {
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.5rem;
            }
        }

        &_gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow: hidden;


            &_item {
                flex: 1;
                height: 30rem;
                width: 25rem;
                margin: 0 2rem;
                background-position: center;
                border-radius: 0.5rem;
                background-size: cover;
                transition: all 2s cubic-bezier(0.3, 1, 0.3, 1);

                &:hover {
                    flex:3;
                }
            }
        }
    }

    &_paybox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%;
        align-items: center;
        color: $main-color;

            
        .paybox_title {
            margin: 1rem 0;
            font-size: 2rem;
            text-transform: uppercase;
        }

        .paybox_options {
            margin: 1rem 0;
            width: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .option {
                font-size: 1.5rem;
                border: 1px solid $main-color;
                background: none;
                color: $main-color;
                font-family: 'Source Sans Pro', sans-serif;
                padding: 0.25rem 1rem;
                transition: all .3s ease;

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    cursor: pointer;
                    background-color: $main-color;
                    color: $light-cream;
                }

                
            }

        }
        .paybox_button{
            margin-top: 1rem;
            background: none;
            text-transform: uppercase;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            padding: 1rem 2rem;
            outline: none;
            border-radius: .3rem;
            border: 2px solid $main-color;
            color: $main-color;
            transition: all .3s ease;

            &:focus,
            &:active {
                outline: none;
                
                
            }

            &:hover {
                cursor: pointer;
                background-color: $main-color;
                color: $light-cream;
            }
        }
    }
    


    .return-icon {
        fill: $main-color;
        margin-top: .5rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        align-self: flex-start;
        transition: all .3s ease;

        &:hover{
            transform: translateX(-0.5rem);
        }
    }
}