$main-color : #b36a5e;
$secondary-color: #d3a08e;
$light-cream: #fff1e6;
$light-grey: #f0f0f0;
$medium-grey: #ced4da;
$dark-shadow: 0 2rem 6rem rgba(0,0,0,.3);
$light-shadow: 0 1rem 4rem rgba(0,0,0, .2);


.navigation {
    background-color:$secondary-color;
    // height: 100vh;
    flex: 0 0 8%;
    transition: all .3s ease-out;
    box-shadow: $light-shadow;
    
    &:hover{
        flex: 0 0 16%
    }

    &_side-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;

        
        &_item{
            font-size: 2rem;
            margin: 1.5rem 0;
            transition: all .1s ease-in;
            
            &::before{
                content: '/ ';
            }

            &:hover {
                transform: translateX(1rem);
            }


        }
    }

}