@import '../../assets/scss-partials/vars';

.header {
    background-color: $main-color;
    box-shadow: $light-shadow;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        width: auto;
        height: 8rem;
        margin-left: -2rem;
    }

    &_searchbar {
        flex: 0 0 30%;
        margin-right: -3rem;
        font-size: 1.6rem;
        padding: 0 1rem;
        height: 3rem;
        border-radius: 5rem;
        box-shadow: none;
        border: none;
        background-color: $light-cream;
        opacity: 0.9;
        font-family: 'Source Sans Pro', sans-serif;
        color: $main-color;
        transition: all .2s;
        
        &:focus,
        &:active,
        &:hover {
            opacity: 1;
            transform: scaleX(1.04);
            outline: none;
        }
        
    }

    &_user-info {
        display: flex;
        margin: 1rem 2rem;
        font-size: 1.8rem;
        justify-content: space-between;
        font-weight: 600;
        color: $light-cream;

        a {
            margin: 0 1rem;
            transition: all .2s ;

            &:hover {
                transform: translateY(-0.4rem);
            }
        }

        
        
    }
}