// colors

$main-color : #b36a5e;
$secondary-color: #d3a08e;
$light-cream: #fff1e6;
$light-grey: #f0f0f0;
$medium-grey: #ced4da;
$dark-shadow: 0 2rem 6rem rgba(0,0,0,.3);
$light-shadow: 0 1rem 4rem rgba(0,0,0, .2);