$main-color : #b36a5e;
$secondary-color: #d3a08e;
$light-cream: #fff1e6;
$light-grey: #f0f0f0;
$medium-grey: #ced4da;
$dark-shadow: 0 2rem 6rem rgba(0,0,0,.3);
$light-shadow: 0 1rem 4rem rgba(0,0,0, .2);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $light-cream;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-cream;
  background-size: cover;
  min-height: 100vh;
  line-height: 1.7;
  color: $main-color;
}


.intro-item-enter {
    opacity: 0;
  }
  .intro-item-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .intro-item-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .intro-item-exit-active {
    opacity: 1;
    transform: translateY(-150rem);
    transition: all 700ms;
  }

  .main-app-enter {
    opacity: 0;
    transform: translateY(30rem);
  }
  .main-app-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms;
  }

  .app-layout {
    // max-width: 150rem;
    // 
    width:90vw;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255);
    box-shadow: $dark-shadow;
    // max-height: 100vh;
    overflow: hidden;

  }

  .app-content {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }


  .cart-items-enter {
    opacity: 0;
    transform: translateX(-40rem);
  }
  .cart-items-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
  }
  .cart-items-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .cart-items-exit-active {
    opacity: 1;
    transform: translateX(-150rem);
    transition: all 300ms;
  }