@import '../../assets/scss-partials/vars';
.cart-item {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    background-color: $light-grey;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    font-size: 1.2rem;
    opacity: 0.7;
    transition: all .3s;

    &:hover {
        background-color: #e7e7e7;
        opacity: 1;
    }

    &_photo {
        height: 5rem;
        flex: 0 1 20%;
        opacity: 1;
    }

    &_delete{
        fill: $main-color;
        width: 10px;
        height: 10px;
    }
}